*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(100deg, #2b235a,	#31255a);
}
.card {
  width:  90%;
  max-width: 470px;
  background: linear-gradient(135deg, #8fe0ff, #75b4e3);
  color: #ffff;
  margin: 50px auto 0;
  border-radius: 20px;
  padding: 40px 0px 0px 0px;
  text-align: center;
  min-width: none;
}
.information {
  display: none;
}

.more-info {
  width: 90%;
  background-color: white;
  margin: auto;
  background: linear-gradient(135deg, #54416d,	#31255a);
  border-radius: 20px;
  height: 100px;
  display: flex;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}
.humidity, .wind-speed {
  display: flex;
  margin: auto;
  align-items: center;
}
.humidity div p, .wind-speed div p {
  text-align: left;
  margin-left: 15px;
  margin-top: 3px;
}
.humidity-percentage, .wind-percentage {
  font-size: 30px;
}
.humidity img, .wind-speed img {
  width: 55px;
}

.weather{
  margin-bottom: 20px;
}
.img-container img{
  width: 155px;
  margin: 0;
}
.temperature {
  font-size: 60px;
  font-weight: 500;
  margin-bottom: 10px;
}

.search {
  background: linear-gradient(135deg, #528ab4,	#15719f);
  height: 175px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -2px 15px rgba(0, 0, 0, 0.25);
  flex-direction: column;
}
.city {
  font-size: 30px;
  font-weight: lighter;
  margin-bottom: 20px;
}
.search-bar {
  height: 50px;
  flex: 1;
  max-width: 250px;
  margin-right: 15px;
  border: none;
  outline: none;
  border-radius: 50px;
  padding-left: 20px;
  font-size: 20px;
}
.search button img {
  width: 20px;
  margin: 0;
}
.search button {
  padding: 11px 15px;
  border: none;
  border-radius: 50%;
  transition: opacity 0.15s;
}
.search button:hover {
  opacity: 0.7;
}